# Archivos de Android Studio
.idea/
.gradle/
local.properties
*.iml

# Carpetas de compilación
/build/
app/build/
*/build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de caché y logs
.cxx/
*.log
